nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 5px 3px 3px rgba(0,0,0,.3);
}

.e-commerce{
    text-decoration: none;
    color: #f85555;
    font-weight: 600;
    font-size: 32px;
}

.icons{
    color: #f85555;
    font-size: 20px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: .5rem;
}

button{
    border: none;
    background: #FFFFFF;
}